extends ../layouts/main

block container

    include ../components/sidebar.pug

    +breadcrumbs('Tin tức', '#')

    .grid.wide 
        .row
            .col.l-3.m-4.c-0
                section.sidebar
                    +product-list
                    +new-feed
                    +blog-tag
            
            .col.l-9.m-8.c-12
                .row
                    section.news
                        .col.l-12.m-12.c-12
                            each item in newsList 
                                article
                                    h4.news__title
                                        a.news__title-link(href="news-detail.html")= item.title 
                                    
                                    ul.news__daytime
                                        time(datetime=`${item.day}T${item.time}`)
                                        
                                        li.day
                                            i.far.fa-calendar-minus.news__icon
                                            span= item.day
                                        
                                        li.time
                                            i.far.fa-clock.news__icon
                                            span= item.time
                                        
                                        li.day
                                            i.far.fa-comment-dots.news__icon
                                            span= `${item.comment} Bình luận`
                                    
                                    a(href="news-detail.html")
                                        .news__img--wrap
                                            .news__img(style=`background-image:url(./assets/img/news/${item.urlImg})`)
                                    .news__content= item.content
                
                +pageNumber