- 
    const productList = [
        {
            name: 'Cây chậu treo',
            qnt: 10
        },
        {
            name: 'Cây có hoa',
            qnt: 5
        },
        {
            name: 'Cây dây leo',
            qnt: 15
        },
        {
            name: 'Cây để bàn',
            qnt: 10
        },
        {
            name: 'Cây may mắn',
            qnt: 7
        },
        {
            name: 'Cây trang trí',
            qnt: 8
        },
        {
            name: 'Cây nội thất',
            qnt: 9
        }
    ]

- 
    const priceList = [
        {
            priceRange: '200.000 - 400.000 Đ'
        },
        {
            priceRange: '400.000 - 600.000 Đ'
           
        },
        {
            priceRange: '600.000 - 800.000 Đ'
        },
        {
            priceRange: '800.000 - 1.000.000 Đ'
        },
        
        {
            priceRange: '1.000.000 - 2.000.000 Đ'
        }
    ]

-
    const colorList = [
        {
            nameColor: 'Xanh cây',
            color: '#98cb4a'
        },
        {
            nameColor: 'Đỏ cam',
            color: '#f76d3c'
        },
        {
            nameColor: 'Tím',
            color: '#913ccd'
        },
        {
            nameColor: 'Xanh trời',
            color: '#5481e6'
        },
        {
            nameColor: 'Vàng',
            color: '#f7d842'
        },
        
        {
            nameColor: 'Hồng',
            color: '#f15f74'
        }
    ]

article.product-list
    +productHeader('Danh mục sản phẩm')
    ul.category__list 
        each item in productList
            li.category__item
                input(id= item.name, type="radio", name="product-category", value= item.name)
                label(for=item.name).category__item-title
                    i.fas.fa-angle-right
                    span.category__item-name= item.name
                    span.category__item-qnt= '(' + item.qnt + ')'

article.price-list
    +productHeader('Tìm theo giá')
    ul.category__list 
        each item in priceList
            li.category__item
                input(id= item.priceRange, type="radio", name="price-category", value= item.name)
                label(for=item.priceRange).category__item-title
                    i.fas.fa-angle-right
                    span.category__item-name= item.priceRange
    
article.color-list
    +productHeader('Tìm theo màu')
    ul.category__list
        .row
            each item in colorList
                .col.l-6.m-12
                    li.category__item
                        input(id= item.nameColor, type="radio", name="color-category", value= item.name)
                        label(for=item.nameColor).category__item-title
                            - var color = item.color;
                            p.category__item-color(style={'--tooltip-data':  color })
                            span.category__item-name= item.nameColor