mixin product-list
    article.product-list
        +titleHeader('Danh mục sản phẩm')
        ul.category__list
            //- each item in productList
            //-     li.category__item
            //-         input(id= item.name, type="checkbox", name="product-category", value= item.name)
            //-         label.category__item-title(for=item.name)
            //-             i.fas.fa-angle-right
            //-             span.category__item-name= item.name
            //-             span.category__item-qnt= `( ${item.qnt} )`

mixin price-list
    article.price-list
        +titleHeader('Tìm theo giá')
        ul.category__list
            each item in priceList
                li.category__item(data-gte= item.gte data-lte= item.lte)
                    input(id= item.priceRange, type="radio", name="price-category", value= item.name)
                    label.category__item-title(for=item.priceRange)
                        i.fas.fa-angle-right
                        span.category__item-name= item.priceRange

mixin color-list
    article.color-list
        +titleHeader('Tìm theo màu')
        ul.category__list
            .row
                each item in colorList
                    .col.l-6.m-12
                        li.category__item(data-color=`${item.value}`)
                            input(id= item.value, type="radio", name="color-category", value= item.nameColor)
                            label.category__item-title(for=item.nameColor)
                                - var color = item.color;
                                p.category__item-color(style={'--tooltip-data':  color })
                                span.category__item-name= item.nameColor

mixin new-feed
    article.new-feed
        +titleHeader('Tin tức nổi bật')
        ul.category__list 
            each item,index in newFeed
                li.category__item
                    .new__feed-wrap
                        .new__feed-img(style=`background-image:url(./assets/img/news/${item.url})`)
                    a.new__feed-title(href="#")= item.title

mixin blog-tag
    article.blog-tag
        +titleHeader('Blog tag')
        ul.category__list
            each item in newFeed
                li.category__item
                    input(id= item.blogTag, type="radio", name="blog-tag", value= item.blogTag)
                    label.category__item-title(for=item.blogTag)
                        span.blog__tag-item= item.blogTag
