//- Footer List
mixin footerList(title, list)
    h3.footer__body-title= title
    ul.footer__list
        each item in list
            li.footer__item
                i.fas.fa-angle-right
                a.footer__item-link(href="#", target="_blank")= item

//- Logo Page
mixin logoPage 
    a(href="/") 
        .logo__name
            img.img__green-shop(src="./assets/img/logo.png", alt="Green Shop")
        p.logo__slogan Món quà từ thiên nhiên

//- Icon Social
mixin iconSocial 
    ul.social__icon-list
        each icon in iconSocial
            li.social__icon-item
                a.social__icon-link(class= icon, href="#")

//- Carousel
mixin sliderBanner(headerSub, header, des, url)
    .slider-item
        .text-content
            h1.text-heading_sub= headerSub 
            h2.text-heading= header
            p.text-description= des
            a.btn.btn--detail(href= url) Xem chi tiết 

//- Breadcrumbs
mixin breadcrumbs(navigationList)
    .grid.wide 
        .row 
            .col.l-12.m-12.c-12
                .breadcrumbs
                    a.breadcrumbs__link(href="/")
                        span.breadcrumbs__home Home /
                    each  link, navigation  in  navigationList
                        a.breadcrumbs__link(href= link)
                            span.breadcrumbs__navigation= `${navigation}`
//- Show Product
mixin productDisplay(urlImg, productType, productName, rateStar, priceSale, priceCurrent, productDsc, _id)
    .product
        .product__header
            .product__header-img
                img(src= `./assets/img/product/${urlImg}`, alt= productName)
            if productType != ''
                if productType == 'new'
                    span= productType
                else 
                    span(style='background-color: #d64146;')= `- ${productType}%`
            .form__control
                a.btn.btn__buy-now(href="cart.html") Mua ngay
                a.icon__link-search(href="products-detail.html")
                    i.fas.fa-search.icon.icon--detail
        .product__body 
            p.product__name= productName

            span.product__star
                - for (var i = 0; i< rateStar; i++)
                    if rateStar - i < 1
                        i.fas.fa-star-half-alt
                    else 
                        i.fas.fa-star
            p.product__dsc= productDsc

            .product__price
                span.product__price-sale=`${priceSale}.000 đ`
                if priceCurrent
                    span.product__price-current=`${priceCurrent}.000 đ`

            .product__control
                a.btn.btn__buy-now(href="cart.html") Mua ngay

                a(href="products-detail.html")
                    i.fas.fa-search.icon.icon--detail.icon--border

                input(id= _id, type="checkbox", name= productName)
                label.item__heart-label(for= _id)
                    i.fas.fa-heart.icon.icon--border

//- News
mixin news(urlImg, time, header, dsc)
    .news_wrap
        a.home__news-img(href='news-detail.html')
            img(src=`./assets/img/news/${urlImg}`, alt= header)
        .news__body
            time= time
            h6.news__body--header= header
            p.news__body--dsc= dsc
            a.read__more(href='news-detail.html') Đọc tiếp

mixin titleHeader(title)
    h2.products__title= title
    .separate

mixin controlProduct(controlLeft,controlRight)
    .control-slide
        label(for= controlLeft)
            i.fas.fa-chevron-left.icon
        label(for= controlRight)
            i.fas.fa-chevron-right.icon

//- Slide Product
mixin slideProduct(controlLeft, controlRight, slideName, itemSlide, typeDevice)
    .product__slide-control
        input(id= controlLeft, type='radio', name= slideName checked)
        input(id= controlRight,type='radio', name= slideName)

        .slider-product
            .overflow
                .inner__content
                    case typeDevice
                        //- Mobile slide more item
                        when 'mobile-more'
                            - for(var i = 0 ; i < itemSlide.length / 3 ; i++)
                                .col.l-0.m-0.c-12
                                    +productDisplay(itemSlide[i].urlImg,itemSlide[i].type ,itemSlide[i].name, itemSlide[i].star,itemSlide[i].priceSale)
                                    +productDisplay(itemSlide[i+1].urlImg,itemSlide[i+1].type ,itemSlide[i+1].name, itemSlide[i+1].star,itemSlide[i+1].priceSale,itemSlide[i+1].priceCurrent)
                                    +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)

                        when 'latop-3-2'
                                - for(var i = 0 ; i < itemSlide.length / 6 ; i++)
                                    .col.l-12.m-12.c-12
                                        .row
                                            .col.l-4.m-6.c-12
                                                +productDisplay(itemSlide[i].urlImg,itemSlide[i].type ,itemSlide[i].name, itemSlide[i].star,itemSlide[i].priceSale)
                                            .col.l-4.m-6.c-0
                                                +productDisplay(itemSlide[i+1].urlImg,itemSlide[i+1].type ,itemSlide[i+1].name, itemSlide[i+1].star,itemSlide[i+1].priceSale,itemSlide[i+1].priceCurrent)
                                            .col.l-4.m-0.c-0
                                                +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)
                                        .row
                                            .col.l-4.m-6.c-0
                                                +productDisplay(itemSlide[i].urlImg,itemSlide[i].type ,itemSlide[i].name, itemSlide[i].star,itemSlide[i].priceSale)
                                            .col.l-4.m-6.c-0
                                                +productDisplay(itemSlide[i+1].urlImg,itemSlide[i+1].type ,itemSlide[i+1].name, itemSlide[i+1].star,itemSlide[i+1].priceSale,itemSlide[i+1].priceCurrent)
                                            .col.l-4.m-0.c-0
                                                +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)
                        when 'latop-4-2'
                            - for(var i = 0 ; i < itemSlide.length / 4 ; i++)
                                .col.l-12.m-12.c-12
                                    .row
                                        .col.l-3.m-6.c-12
                                            +productDisplay(itemSlide[i].urlImg,itemSlide[i].type ,itemSlide[i].name, itemSlide[i].star,itemSlide[i].priceSale)
                                        .col.l-3.m-6.c-0
                                            +productDisplay(itemSlide[i+1].urlImg,itemSlide[i+1].type ,itemSlide[i+1].name, itemSlide[i+1].star,itemSlide[i+1].priceSale,itemSlide[i+1].priceCurrent)
                                        .col.l-3.m-0.c-0
                                            +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)
                                        .col.l-3.m-0.c-0
                                            +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)
                                    .row
                                        .col.l-3.m-6.c-0
                                            +productDisplay(itemSlide[i].urlImg,itemSlide[i].type ,itemSlide[i].name, itemSlide[i].star,itemSlide[i].priceSale)
                                        .col.l-3.m-6.c-0
                                            +productDisplay(itemSlide[i+1].urlImg,itemSlide[i+1].type ,itemSlide[i+1].name, itemSlide[i+1].star,itemSlide[i+1].priceSale,itemSlide[i+1].priceCurrent)
                                        .col.l-3.m-0.c-0
                                            +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)
                                        .col.l-3.m-0.c-0
                                            +productDisplay(itemSlide[i+2].urlImg,itemSlide[i+2].type ,itemSlide[i+2].name, itemSlide[i+2].star,itemSlide[i+2].priceSale,itemSlide[i+2].priceCurrent)

                        //- Laptop 4-1
                        default
                            each item in itemSlide
                                .col.l-3.m-6.c-12
                                    +productDisplay(item.urlImg,item.type ,item.name, item.star,item.priceSale)

mixin banner(urlImg, altImg)
    .banner
        img(src= urlImg, alt= altImg)

//- Form Control
mixin formHeader(title)
    h1.form__header= title

mixin formControl(type, content, className, id, name, placeholder, require)
    .form__group
        label.form__label(for= id, tooltip-required= require)= content
        input(id= id, class= className, rules='required', type= type, name= name, placeholder= placeholder required)
        span.form-message